[env]
_.file = [
    '.env.development'
]
CONTAINER_NAME="asia-northeast1-docker.pkg.dev/valorant-coaching-465213/aim-ai-coach/app"

[tools]
bun = "1.3.3"
docker-cli = "latest"
docker-compose = "latest"
gcloud = "latest"
lazydocker = "latest"
lazyssh = "latest"
node = "22"
"npm:kiri-mcp-server" = "latest"

[tasks."docker:build"]
description = "docker build"
run = "docker buildx build --platform linux/amd64 -t ${CONTAINER_NAME}:latest ."

[tasks."docker:deploy"]
description = "docker deploy"
depends = "docker:build"
run = "docker push ${CONTAINER_NAME}:latest"

[tasks.deploy]
description = "deploy prod"
depends = "docker:deploy"
run = """
IMAGE=$(docker inspect ${CONTAINER_NAME}:latest | jq -r '.[0].RepoDigests[0]')
gcloud run deploy app \
    --image=${IMAGE} \
    --min-instances=0 \
    --env-vars-file=".env" \
    --region=asia-northeast1 \
    --project=valorant-coaching-465213 \
&& gcloud run services update-traffic app --to-latest
"""
